.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
.cache/
.cache_runtime/
.home/
runs/
tools
configs/_base_

artifacts/
!artifacts/
artifacts/*
!artifacts/report.pdf
!artifacts/metrics/
artifacts/metrics/*
!artifacts/metrics/metrics_comparison.csv
checkpoints/

datasets/
*.pt
*.pth
*.cache

*.log
